.tic-tac-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
    background: #bababa;
}

.tic-tac-board {
    width: 60rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
    padding: 1rem;
    box-sizing: border-box;
    background: transparent;
}