<section>
  <div>
    <button (click)="handleClick('A');getLabel('A', 0);">{{label[0]}}</button>
    <button (click)="handleClick('B');getLabel('B', 1);">{{label[1]}}</button>
    <button (click)="handleClick('C');getLabel('C', 2);">{{label[2]}}</button>
  </div>
  <div>
    <button (click)="handleClick('D');getLabel('D', 3);">{{label[3]}}</button>
    <button (click)="handleClick('E');getLabel('E', 4);">{{label[4]}}</button>
    <button (click)="handleClick('F');getLabel('F', 5);">{{label[5]}}</button>
  </div>
  <div>
    <button (click)="handleClick('G');getLabel('G', 6);">{{label[6]}}</button>
    <button (click)="handleClick('H');getLabel('H', 7);">{{label[7]}}</button>
    <button (click)="handleClick('I');getLabel('I', 8);">{{label[8]}}</button>
  </div>
</section>
<p>{{winner}}</p>